<%- include('../partials/header') %>

<div class="row">
    <div class="col s6 m6">
      <div class="card blue darken-3">
        <div class="card-content white-text">
          <span class="card-title"><%= dog.name %></span>
          <dl>
            <dt>Breed:</dt>
            <dd><%= dog.breed %></dd><br>
            <dt>Age:</dt>
            <dd><%= dog.age %> years old</dd><br>
            <dt>Owner:</dt>
            <dd><%= dog.ownerName %></dd><br>
            
            <dt>Comments:</dt>
            <% dog.comments.forEach((d) => { %>
                <dd><%= d.comments %> - <%= d.commentBy %> </dd>
            <% }) %>
            <br></br>
            <dt>Address:</dt>
            <dd><%= dog.address %>location</dd><br>

            <form action="/dogs<%= dog._id %>/walks" method="POST">
              <label> time: </label>
                <select name="Walks">
                <option value="10min">10min</option>
                <option value="20min">20min</option>
                <option value="30min">30min</option>
                <option value="more">more</option>
                </select>
            <br></br> 
                <label> miles: </label>
                <select name="Walks">
                <option value="1mile">1mile</option>
                <option value="2miles">2miles</option>
                <option value="2+miles">2+miles</option>
                <option value="more">more</option>
                </select>
                <button class="btn waves-effect waves-light" type="submit">walks
                  <i class="material-icons right">send</i>
                </button>
            </form>




            <dt>time:</dt>
            <dd><%= dog.time %> </dd><br>
            <dt>Owner Name:</dt>
            <dd><%= dog.miles %> </dd><br>
            </form>
              
            <form>
            <div class="row">
                <div class="input-field col s12">
                  <form action="/dogs/<%= dog._id %>/comment" method="POST">
                    <textarea id="comment" class="materialize-textarea" name="comments" data-length="120"></textarea>
                    <label for="comment">Leave a comment</label><br><br>
                    <button class="btn green waves-effect waves-light" type="submit">Add Comment</button>
                  </form>
                </div>
              </div>
          </dl>
        </div>
      </div>
    </div>
  </div> 

  

<%- include('../partials/footer') %>